<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>show info</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<script src="https://checkout.stripe.com/checkout.js"></script>-->
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<div class="container">
    <br/><br/>

    <div class="row clearfix">
        <div class="col-sm-12 column">
            <button id='pay'>支付</button>

        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    function alipay(amount) {
        //showLoading();
        var stripe = Stripe('pk_test_Be3VzXWAO8dCLi2yFfaidLEt');
        stripe.createSource({
            type: 'alipay',
            amount: 1000,
            currency: 'usd',
            redirect: {
                return_url: 'http://140.82.48.255:3000/strip/alipay/return',
            },
        }).then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
            else {
                console.log(result.source)
                processStripeResponse(result.source);
            }
        });

        /*        stripe.createSource({
                    type: 'alipay',
                    amount: 6600,
                    currency: 'usd', // usd, eur,
                    redirect: {
                        return_url: 'alipay'
                    },
                }).then(function (response) {
                    //hideLoading();
                    if (response.error) {
                        alert(response.error.message);
                    }
                    else {
                        processStripeResponse(response.source);
                    }
                });*/
    }

    function processStripeResponse(source) {
        window.location.href = source.redirect.url;
    }

    $('#pay').click(function () {
        alipay();
    });


    /* $(function(){
         var stripeHandler = StripeCheckout.configure({
             key: 'pk_test_AkkcbYg0HIHFwCepZCZrbZZJ',
             image: 'https://placehold.it/200x200',    // 显示在支付对话框的图片，可自己指定
             alipay: true,                             // 启用支付宝支付
             token: function(token){                   // 用户填写完资料并且 Stripe 校验成功后的回调函数
                 // 此时应该提交 token.id 到后台，比如 http://example.com/orders/1?stripeToken={token.id}
                 location.href="stripe/alipay";
             }
         })

         $('#pay').click(function(){
             stripeHandler.open({
                 name: 'importExpress',                  // 收款方或商家名称，比如 Beansmile
                 description: "orderID:1111111111",              // 待支付商品的描述
                 amount: 50 * 100,                       // 支付金额，单位是“分”
                 opened: function(){                     // 支付对话框打开后的回调函数
                     // Do something
                 }
             });
         });
     });*/
    /*]]>*/

</script>
</body>
</html>