<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>show info</title>
    <meta http-equiv="refresh" th:attr="content=${refresh}">

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <br/>
    <br/>
    <form>
        <div class="row clearfix">
            <div class="col-xs-12 column">
                <h3>
                    当前时间：[[${datetime}]]
                </h3>
            </div>
        </div>
    <div class="row clearfix">
        <div class="col-xs-3 column">
                刷新间隔：[[${refresh}]]秒
        </div>
        <div class="col-xs-3 column">
            <button type="submit"  name="refresh" value="5" class="btn btn-default btn-warning btn-block">5秒</button>
        </div>
        <div class="col-xs-3 column">
            <button type="submit"  name="refresh" value="30" class="btn btn-default btn-warning btn-block">30秒</button>
        </div>
        <div class="col-xs-3 column">
            <button type="submit"  name="refresh" value="60" class="btn btn-default btn-warning btn-block">1分钟</button>
        </div>
    </div>
    </form>
    <br/><br/>
    <div class="row clearfix">
        <div class="col-sm-12 column">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        证券
                    </th>
                    <th>
                        涨跌幅
                    </th>
                    <th>
                        当前价
                    </th>
                    <th>
                        卖出价
                    </th>
                    <th>
                        卖量(手)
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iterStat : ${STOCK}" th:class="${iterStat.odd}? 'success'">
                    <td th:text="${item.name}" />
                    <td th:text="${#numbers.formatDecimal(item.riseAndFallPercent,1,2)}+'%'" />
                    <td th:text="${#numbers.formatDecimal(item.now,1,2)}" />

                    <td th:if="${item.type==1}" th:text="'-'" />
                    <td th:if="${item.type==2}" th:text="${item.sell1Price}"  />

                    <td th:if="${item.type==1}" th:text="'-'" />
                    <td th:if="${item.type==2}" th:text="${#numbers.formatDecimal(item.sell1Num,1,0)}/100"  />
                </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>分级基金</th><th>涨跌幅</th><th>当前价</th><th>净值</th><th>净价</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iterStat : ${FJ_FUND}" th:class="${iterStat.odd}? 'success'">
                    <td th:text="${item.name}" />
                    <td th:text="${#numbers.formatDecimal(item.riseAndFallPercent,1,2)}+'%'" />
                    <td th:text="${item.now}" />
                    <td th:text="${#numbers.formatDecimal(item.value,1,4)}" />
                    <td th:text="${#numbers.formatDecimal(item.trueValue,1,4)}" />
                </tr>
                </tbody>
            </table>


            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>国债逆回购</th><th>当前价</th><th>买入价</th><th>代码</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iterStat : ${GZNHG}" th:class="${iterStat.odd}? 'success'">
                    <td th:text="${item.name}" />
                    <td th:text="${item.now}" />
                    <td th:text="${item.buy1Price}" />
                    <td th:text="${item.fullCode}" />
                    <!--<td th:text="${#dates.format(it&lt;!&ndash;&ndash;&gt;em.time, 'HH:mm:ss')}" />-->
                </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>货币基金</th><th>当前价</th><th>卖出价</th><th>卖量</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iterStat : ${HB_FUND}" th:class="${iterStat.odd}? 'success'">
                    <td th:text="${item.name}" />
                    <td th:text="${item.now}" />
                    <td th:text="${item.sell1Price}" />
                    <td th:text="${item.sell1Num}" />
                </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>外汇</th><th>当前价</th><th>最终更新时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iterStat : ${FX}" th:class="${iterStat.odd}? 'success'">
                    <td th:text="${item.name}" />
                    <td th:text="${item.now}" />
                    <td th:text="${#dates.format(item.time, 'YYYY/MM/dd HH:mm:ss')}" />
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*$(document).ready(function(){

        $('#btn1').on("click", function (event) {
            setTimeout('myrefresh()',5000);
        });

        $('#btn2').on("click", function (event) {
            setTimeout('myrefresh()',30000);
        });

        $('#btn3').on("click", function (event) {
            setTimeout('myrefresh()',60000);
        });

    });

    function myrefresh(){
        window.location.reload();
    }*/
    /*]]>*/

</script>
</body>
</html>